@media screen and (max-width: 400px) {
  #clients {
    padding: 20px;
    width: 111%;
  }
  #about,
  #products,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolios {
    width: 110%;
  }
}
